{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
 
</head>
<body>
    <div class="class">
        <form method="post">
            {% csrf_token %}
                <center><h1><font color="navy" size="10px">Log in</font></h1></center><div><br>
            <label for="user name"></label>
            <input type="text" placeholder="Enter your username" name="username"></div><br>
            <div><label for="password"></label>
            <input type="password" placeholder="Enter your password" name="password"></div><br><br>
            <div><input type="submit" value="Log in" id="loginn"> </div>
        </form>
    </div>
    
</body>
</html>